<!DOCTYPE html>
<head></head>
<body>
<h1>Intellectual Sharing</h1>
<p>The goal of this website is to organize all of the world's ideas in a meaningful and comprehensive way, using a graph database and some simple rules.  It is a 100% community supported open source knowledge base where anyone can contribute and learn.</p>
<ul>
<li>Want to add some meta nodes (aka TypeNode s) ? You can do so with the <a href="typeNodeEditor">TypeNode Editor</a></li>
<li>Want to view some nodes?  You can do so with links like this: <a href="viewNode/actor/Daniel Craig">/viewNode/actor/Daniel Craig/</a></li>
<li>Check out the <a href="http://gmmotto.ddns.net:7474/">database</a> the login is neo4j/django, and you can see the database with this query: match (n) return n</li>
</ul>
</body>
