{% extends "skeleton.html" %}

{% block style %}
<style type="text/css" media="screen">

</style>
{% endblock %}

{% block content %}

{% include 'header.html' %}

{% load get_range get_len lookup %}

<div class='row'>
    <h2>{{nodeType}} : {{nodeName}}</h2>

    <h4>Outgoing Relationships</h4>
    {% for i in outgoingRels|get_len|get_range %}
    {{nodeType}} : {{nodeName}} -&gt; {{outgoingRels|lookup:i|lookup:0}} 
    -&gt; <a href="viewNode?typeName={{outgoingRels|lookup:i|lookup:1}}&name={{outgoingRels|lookup:i|lookup:2}}"> {{outgoingRels|lookup:i|lookup:1}} : {{outgoingRels|lookup:i|lookup:2}}</a>
    <br/>
    {% endfor %}

    <h4>Incoming Relationships</h4>
    {% for i in incomingRels|get_len|get_range %}
    <a href="viewNode?typeName={{incomingRels|lookup:i|lookup:1}}&name={{incomingRels|lookup:i|lookup:2}}"> {{incomingRels|lookup:i|lookup:1}} : {{incomingRels|lookup:i|lookup:2}}</a>
    -&gt; {{incomingRels|lookup:i|lookup:0}} 
    -&gt; {{nodeType}} : {{nodeName}} 
    <br/>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>
    var JSONDATA = {};

    var config = {
        dataSource: JSONDATA,
        graphHeight: function(){ return 260; },
        graphWidth: function(){ return 300; },

        linkDistance: function(){ return 40; },

        nodeTypes: {"node_type": ["Maintainer", "Contributor"]},
        caption: function(node){ return node.caption; }
    };

    $(document).ready(function(){
        alchemy = new Alchemy(config);
    });
</script>
{% endblock %}
