{% extends "skeleton.html" %}

{% block style %}
<style type="text/css" media="screen">

</style>
{% endblock %}

{% block content %}

{% include 'header.html' %}

{% load get_range get_len lookup %}

<div class='row'>
    Node: {{node}}

    <h4>Outgoing Relationships</h4>
    {% for i in outgoingRels|get_len|get_range %}
    Relationship Name: {{outgoingRels|lookup:i|lookup:0}} 
    Related to: <a href="/viewNode/{{outgoingRels|lookup:i|lookup:1}}/{{outgoingRels|lookup:i|lookup:2}}">Type: {{outgoingRels|lookup:i|lookup:1}} Name: {{outgoingRels|lookup:i|lookup:2}}</a>
    <br/>
    {% endfor %}

    <h4>Incoming Relationships</h4>
    {% for i in incomingRels|get_len|get_range %}
    Relationship Name: {{incomingRels|lookup:i|lookup:0}} 
    Related to: <a href="/viewNode/{{incomingRels|lookup:i|lookup:1}}/{{incomingRels|lookup:i|lookup:2}}">Type: {{incomingRels|lookup:i|lookup:1}} Name: {{incomingRels|lookup:i|lookup:2}}</a>
    <br/>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>
    var JSONDATA = {};

    var config = {
        dataSource: JSONDATA,
        graphHeight: function(){ return 260; },
        graphWidth: function(){ return 300; },

        linkDistance: function(){ return 40; },

        nodeTypes: {"node_type": ["Maintainer", "Contributor"]},
        caption: function(node){ return node.caption; }
    };

    $(document).ready(function(){
        alchemy = new Alchemy(config);
    });
</script>
{% endblock %}
