{% extends "skeleton.html" %}
{% load home_extras %}

{% block style %}
<style type="text/css" media="screen">
    img {
        max-width: 200px;
        max-height: 200px;
    }

    .section {
        border-bottom: thin solid #bbb;
        box-shadow: 1px 1px 4px rgba(0,0,0,.2);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}

{% include 'header.html' %}

{% load get_range get_len lookup %}

<div class='row'>
    <div class="col-xs-12 section">
        <h2>{{nodeType}} : {{nodeName}}</h2>
    </div>

    <div class="col-xs-12 section">
        <h4>Properties</h4>
        {% for key in props %}
            {{key}}: {{props|hash:key}}<br>
        {% endfor %}
    </div>

    {% if 'Images' in props %}
    <div class="col-xs-12 section">
        <h4>Images</h4>
        <div class="col-xs-4"><img src="{{props|hash:'Images'}}" /></div>
    </div>
    {% endif %}

    <div class="col-xs-12 section">
        <h4>Outgoing Relationships</h4>
        {% for i in outgoingRels|get_len|get_range %}
        -&gt;  {{outgoingRels|lookup:i|lookup:0}}
        -&gt; <a href="viewNodeType?typeName={{outgoingRels|lookup:i|lookup:1}}">{{outgoingRels|lookup:i|lookup:1}}</a>
        : <a href="viewNode?typeName={{outgoingRels|lookup:i|lookup:1}}&name={{outgoingRels|lookup:i|lookup:2}}">{{outgoingRels|lookup:i|lookup:2}}</a>
        <br/>
        {% endfor %}
    </div>

    <div class="col-xs-12 section">
        <h4>Incoming Relationships</h4>
        {% for i in incomingRels|get_len|get_range %}
        <a href="viewNodeType?typeName={{incomingRels|lookup:i|lookup:1}}">{{incomingRels|lookup:i|lookup:1}}</a>
        : <a href="viewNode?typeName={{incomingRels|lookup:i|lookup:1}}&name={{incomingRels|lookup:i|lookup:2}}">{{incomingRels|lookup:i|lookup:2}}</a>
        -&gt; {{incomingRels|lookup:i|lookup:0}}
        -&gt;
        <br/>
        {% endfor %}
    </div>

    <div class="col-xs-12"><br><br></div>
</div>

{% endblock %}

{% block script %}
<script>
    var JSONDATA = {};

    var config = {
        dataSource: JSONDATA,
        graphHeight: function(){ return 260; },
        graphWidth: function(){ return 300; },

        linkDistance: function(){ return 40; },

        nodeTypes: {"node_type": ["Maintainer", "Contributor"]},
        caption: function(node){ return node.caption; }
    };

    $(document).ready(function(){
        alchemy = new Alchemy(config);
    });
</script>
{% endblock %}
